#new-page fieldset { margin: 15px 0; padding: 5px; background: #eee; border: 1px solid #ccc; border-radius: 3px; }
#new-page legend { padding: 0.2em 0.5em; background: #fff; border: 1px solid #ccc; color: #333; font-size: 90%; text-align: left; border-radius: 3px; }
#new-page .field { margin: 10px 0; }
#new-page .action { margin: 20px 10px 10px 10px; }
#new-page .action * { margin-left: 10px; }
#new-page label { display: inline-block; width: 85px; text-align: right; }
#new-page #title { width: 650px; }
#new-page #path { width: 496px; }
#new-page #body { width: 755px; margin-left: 5px; height: 440px; border: 1px solid #ccc; border-radius: 3px; }
#new-page .permission-group { display: inline; margin-right: 20px; }
#new-page .permission-group label { width: 10px; text-align: left; }
#new-page #summary { width: 650px; }
